<div class="container">
  <form class="col-sm-3" (ngSubmit)="saveUser()" [formGroup]="form">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" formControlName="name" required>
      <span class="help-block" *ngIf="nameError">
        {{nameError}}
      </span>
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" formControlName="city" required>
      <span class="help-block" *ngIf="cityError">
        {{cityError}}
      </span>
    </div>
    <form-actions [saveRequired]="true" [backRequired]="true" [insertRequired]="true" [editRequired]="true" [cancelRequired]="true"
       (onReset)="clearForm()"
       (onBack)="backPageCalled()" 
       (onInsert) = "insertCalled()"
       (onEdit)="editButtonCalled()"></form-actions>
  </form>
</div>